<h1>All Links</h1>
<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">Current Shortlinks</h4>
      <p class="category"><%= link_to 'Or click here to create your own!', new_link_path %></p>
    </div>
    <div class="card-content table-responsive">
      <table class="table">
        <thead class="text-primary">
        <tr>
          <th>Shortlink</th>
          <th>Regex?</th>
          <th>URL</th>
          <th>Argument String</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><%= link.shortlink %></td>
            <td><%= link.type == RegexLink.name %></td>
            <td class="url"><a href="<%= link.url %>"><%= link.url %></a></td>
            <td><%= link.argsstr %></td>
            <td><%= link_to 'Details', link_path(link) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


