<h1>Create a new ShortLink!</h1>
<%= form_for :link, url: links_path do |l| %>
  <p>
    The code you'll use to redirect to your chosen site (go/<my_shorlink>)<br>
    <%= l.text_field :shortlink %><br>
  </p>
  <p>
    The URL you want to redirect to<br>
    <%= l.text_field :url %><br>
  </p>
  <p>If you want, you can allow additional parameters to be passed to your url. Put an additional string here with a "%s" in it and anything after the second slash when using the shortlink will get insterted in place of the '%s' and then appended to the original URL.</p>
  <p>For example, with a shortlink 'phab' that maps to 'https://phabricator.inverselink.com/, and an argsstr of just '%s', go/phab/T4316 will take you to https://phabricator.inverselink.com/T4316<br>
    <%= l.text_field :argsstr %><br>
  </p>
  <p>
    <%= l.submit %><br>
  </p>
<% end %>
