<p>
  <strong>Shortlink:</strong>
  <%= @link.shortlink %>
</p>
<p>
  <strong>URL:</strong>
  <%= @link.url %>
</p>
<p>
  <strong>Argsstr:</strong>
  <%= @link.argsstr %>
</p>
<%= link_to 'Edit', edit_link_path(@link) %>
<%= link_to 'Link List', links_path %><br>
