<h1>Shortlink: <%= @link.shortlink %></h1>
<div class="panel panel-default">
<div class="panel-heading">Shortlink ID: <%= @link.id %></div>
<table class="table">
<tr>
<td><strong>Shortlink</strong></td>
<td> <%= @link.shortlink %></td>
</tr>
<tr>
  <td><strong>URL</strong></td>
  <td><%= @link.url %></td>
</tr>
<tr>
  <td><strong>Args String</strong></td>
  <td><%= @link.argsstr %></td>
</tr>
</table>
<div class="panel-body">
<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-primary" %>
<%= link_to 'Destroy', link_path(@link), data: { confirm: 'Are you sure?' }, method: :delete %><br />
<%= link_to 'Link List', links_path, class: "btn btn-default pull-right" %><br>
</div>
</div>
